@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    /*background-image: linear-gradient(to right,#F28705,#F2CA52);*/
    background-color: #F2D4C2;
}

main { 
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d63e3094;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F28705 ;
    text-align: center;
    text-shadow: 1px 1px 2px #8f1c1c93;
}

h2 {
    color: #F2CA52;
}

p {
    text-align: justify;
}